<div class="subheader normal-bg section-padding">
    <div class="container ">
        <div class="row">
            <div class="col-12 abs">
                <h1 class="text-white">About Us</h1>
                <ul class="custom-flex justify-content-center">
                    <li class="fw-500 text-white"><a href="" routerLink="">Home</a></li>
                    <li class="active fw-500">About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="section-padding bg-light-white">
    <div class="about-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main_title">
                        <h2>Some <b>good</b> reasons</h2>
                        <p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-reasons">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="ct-icon-box stylle">
                            <i class="fas fa-hiking icon_set_1_icon-30"></i>
                            <h3><b>+ 1000</b> Customers</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae beatae aspernatur tempore fugit pariatur, dolor neque harum minima adipisci unde.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="ct-icon-box stylle">
                            <i class="fas fa-map-marked-alt icon_set_1_icon-30"></i>
                            <h3><b>+ 120</b> Premium city tours</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae beatae aspernatur tempore fugit pariatur, dolor neque harum minima adipisci unde.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="ct-icon-box stylle">
                            <i class="fas fa-headset icon_set_1_icon-30"></i>
                            <h3><b>H24</b> Support</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae beatae aspernatur tempore fugit pariatur, dolor neque harum minima adipisci unde.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="ct-icon-box stylle">
                            <i class="fas fa-paw icon_set_1_icon-30"></i>
                            <h3><b>Pet</b> allowed</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae beatae aspernatur tempore fugit pariatur, dolor neque harum minima adipisci unde.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-foto s-padding">
            <div class="col-sm-12 col-md-6 features-bg a-custom">
                <div class="features-img">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 ">
                <div>
                    <div class="features-content">
                        <h3>“Ex vero mediocrem”</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam veniam cupiditate magni consequuntur sit amet sint adipisci itaque esse, perspiciatis maiores mollitia id quam ratione nisi magnam qui quae ducimus.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="get-started s-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main_title">
                            <h2>What Our <b>Traveller</b> Say</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laudantium animi rem excepturi, consectetur provident.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="review-card">
                            <img src="../../assets/img/reviewer-1.png" alt="">
                            <div class="review-info">
                                <h3>Dina Jems</h3>
                                <h5>Traveller</h5>
                                <p>Fusce aliquam luctus est, eget tincidunt velit scelerisque rhoncus. Aliquam lacinia ipsum ornare, porttitor risus nec</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="review-card">
                            <img src="../../assets/img/reviewer-2.png" alt="">
                            <div class="review-info">
                                <h3>Mark Jonaton</h3>
                                <h5>Traveller</h5>
                                <p>Fusce aliquam luctus est, eget tincidunt velit scelerisque rhoncus. Aliquam lacinia ipsum ornare, porttitor risus nec</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="review-card">
                            <img src="../../assets/img/reviewer-3.png" alt="">
                            <div class="review-info">
                                <h3>Ron Miller</h3>
                                <h5>Traveller</h5>
                                <p>Fusce aliquam luctus est, eget tincidunt velit scelerisque rhoncus. Aliquam lacinia ipsum ornare, porttitor risus nec</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
