<div class="subheader normal-bg section-padding">
    <div class="container ">
        <div class="row">
            <div class="col-12 abs">
                <h1 class="text-white">World Tours</h1>
                <ul class="custom-flex justify-content-center">
                    <li class="fw-500 text-white"><a href="" routerLink="">Home</a></li>
                    <li class="active fw-500">World tours</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- All Hotels start  -->
<section class="section-padding bg-light-white">
    <div class="container">
        <div class="row">
            <app-h-list></app-h-list>
        </div>
    </div>
</section>

<!-- All Hotels end  -->
