<div class="subheader normal-bg section-padding">
    <div class="container ">
        <div class="row">
            <div class="col-12 abs">
                <h1 class="text-white">About Tour</h1>
                <ul class="custom-flex justify-content-center">
                    <li class="fw-500 text-white"><a href="" routerLink="">Home</a></li>
                    <li class="fw-500 text-white"><a href="" routerLink="/hotels">World Tours</a></li>
                    <li class="active fw-500">About tour</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="section-padding bg-light-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="listing-details-inner bx-wrapper bg-custom-white padding-20">
                    <div class="row">
                        <div class="col-lg-8">
                            <div>
                                <img width="100%" src="https://cdn.tourradar.com/s3/tour/1500x800/5586_f7d745.jpg" alt="">
                            </div>
                            
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="info-head">
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
