<!-- Start Banner Hero -->
<div id="template-mo-jassa-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner ">
        <div class="carousel-item active slide slide-1">
            <div class="container abs">
                <div class="row p-5">
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center head-text">
                            <h1>Finest Luxury <span class="text-color-blue">Places </span>in the world!</h1>
                            <ul>
                              <li ><i class="fas fa-building text-color-blue"></i>Best Price Guaranteed </li>
                              <li ><i class="fas fa-map-marker-alt text-color-blue"></i>More than 1000 places </li>
                              <li ><i class="fas fa-dollar-sign text-color-blue"></i> Easy Bookings</li>
                              <li ><i class="fas fa-comments text-color-blue"></i>Customer Care 24 hours </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item slide slide-2">
            <div class="container abs">
                <div class="row p-5">
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left head-text">
                            <h1>Upto 25% off on first booking  <span class="text-color-blue">Tour </span> through your app!</h1>
                            <ul>
                                <li><i class="fas fa-building text-color-blue"></i>Best Price Guaranteed </li>
                                <li><i class="fas fa-map-marker-alt text-color-blue"></i> Home Pickups  </li>
                                <li><i class="fas fa-dollar-sign text-color-blue"></i> Easy Bookings  </li>
                                <li><i class="fas fa-comments text-color-blue"></i> 24/7 Customer Care  </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item slide slide-3">
            <div class="container abs">
                <div class="row p-5">
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left head-text">
                            <h1>Let's Discover the <span class="text-color-blue">world </span>together!</h1>
                            <ul>
                              <li ><i class="fas fa-building text-color-blue"></i> Best Price Guaranteed </li>
                              <li ><i class="fas fa-map-marker-alt text-color-blue"></i> More than 13,000 places  </li>
                              <li ><i class="fas fa-dollar-sign text-color-blue"></i>  Easy Bookings </li>
                              <li ><i class="fas fa-comments text-color-blue"></i> Customer Care  </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
  </div>
  <!-- End Banner Hero -->
    <!-- About Us -->
    <section id="about-us">
        <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-5 col-lg-6">
                <div class="about-left-side full-height">
                  <div class="about-img full-height">
                    <img src="../../assets/img/about.jpg" alt="img" class="image-fit">
                    <a class="video-btn transform-center" id="showvideo" href="https://www.youtube.com/" target="_blank">
                      <div id="test"></div>
                      <i class="fas fa-play"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-7 col-lg-6">
                <div class="about-right-side">
                  <div class="section-header">
                    <h2>About Us</h2>
                    <p class="sub-heading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quo fugiat hic! Repellendus mollitia commodi itaque, maiores voluptas laboriosam eveniet et aliquid.</p>
                  </div>
                  <p class="sub-hdg">On the other hand, we denounce with righteous indignation the foult anuals dislike men who are so beguiled and demoralized by the nuhaiicharms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound toen sue; and equal blame belongs to those who fail in their duty.</p>
                  
                  <ul class="custom">
                    <li><i class="fas fa-hand-point-right text-color-blue"></i>Personalized Service</li>
                    <li><i class="fas fa-hand-point-right text-color-blue"></i>24x7 Support </li>
                    <li><i class="fas fa-hand-point-right text-color-blue"></i>Best Price</li>
                    <li><i class="fas fa-hand-point-right text-color-blue"></i>Trusted Company</li>
                  </ul>
                  <a class="btn-first btn-submit" routerLink="aboutus">Learn More</a>
                </div>
              </div>
          </div>
        </div>

      </section>


<!-- Our Work -->

        <section id="work" >
            <div class="section-padding our-work-sec">
            <div class="container ">
                <div class="section-header d-flex align-items-center justify-content-center justify-content-md-between ">
                <div class="p-head">
                <h2>Our Work</h2>
                <p class="sub-hdg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
                </div>
                <div class="row">
                <div class="col-lg-6">
                    <div class="work-sec animate-img first-box">
                    <a routerLink="hotels"><img class="image-fit" src="../../assets/img/work-block_1.jpg" alt="">
                        <div class="text-wrapper">
                        <h2>America</h2>
                        <p>1000 Locations</p>
                        </div>
                    </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                    <div class="col-sm-6">
                        <div class="work-sec animate-img">
                        <a routerLink="hotels"><img class="image-fit" src="../../assets/img/work-block_2.jpg" alt=""></a>
                            <div class="text-wrapper">
                            <h2>Italy</h2>
                            <p>1100 Locations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="work-sec animate-img ">
                        <a routerLink="hotels"><img class="image-fit" src="../../assets/img/work-block_3.jpg" alt=""></a>
                            <div class="text-wrapper">
                            <h2>Germany</h2>
                            <p>1250 Locations</p>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-12 col-sm-6">
                        <div class="work-sec animate-img">
                        <a routerLink="hotels"><img src="../../assets/img/work-block_4.jpg" alt=""></a>
                        <div class="text-wrapper">
                            <h2>Egypt</h2>
                            <p>1500 Locations</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
  
  
  <!-- Start Featured Product -->
  <!-- <section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Product</h1>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="https://therichpost.com/wp-content/uploads/2021/05/feature_prod_01.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$240.00</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Lorem Ipsum</a>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                        </p>
                        <p class="text-muted">Reviews (24)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="https://therichpost.com/wp-content/uploads/2021/05/feature_prod_02.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$480.00</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Lorem Ipsum</a>
                        <p class="card-text">
                          Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum
                        </p>
                        <p class="text-muted">Reviews (48)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="https://therichpost.com/wp-content/uploads/2021/05/feature_prod_03.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$360.00</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Lorem Ipsum</a>
                        <p class="card-text">
                          Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum.
                        </p>
                        <p class="text-muted">Reviews (74)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section> -->
  <!-- End Featured Product -->
